.container {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
  font-family: "Arimo";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  color: #484848;
}
p {
  margin: 5px;
}
/* ====================================================================================================  */
.table {
  border: 22px solid #3a4965;
  width: 100%;
  border-collapse: collapse;
}
.head-item,
.table-item,
.foot-item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-right: 1px solid #484848;
}

.icon {
  margin-right: 5px;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;

  color: #484848;
}
.title-strong {
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #484848;
}
.head-item:nth-child(2) {
  background-color: #89c331;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.head-item:nth-child(3) {
  background-color: #f04a56;
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.head-item:nth-child(4) {
  background-color: #20807c;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.table-content:nth-child(odd) {
  background-color: #f2f2f2;
}
.table-content:nth-child(even) {
  background-color: #e3e3e3;
}

.foot-btn {
  padding: 17px 57px 9px 57px;
  background-color: #484848;
  border-style: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: #404040 0 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.foot-item:nth-child(2) .foot-btn {
  padding: 17px 57px 9px 57px;
  background-color: #89c331;
  box-shadow: #79b027 0 10px;
}
.foot-item:nth-child(3) .foot-btn {
  padding: 17px 57px 9px 57px;
  background-color: #f04a56;
  box-shadow: #df3a46 0 10px;
}
.foot-item:nth-child(4) .foot-btn {
  padding: 17px 57px 9px 57px;
  background-color: #20807c;
  box-shadow: #16736f 0 10px;
}
.foot-item:nth-child(1) {
  background-color: #dddddd;
}
.foot-item:nth-child(even) {
  background-color: #eeeeee;
}
/* ===========================================================================  */
.table-btn {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.btn {
  background-color: #484848;
  padding: 12px 50px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
/* ====================================== */
.table-second-head {
  border-bottom: 22px solid #3a4965;
}

.table-item-second:nth-child(even) {
  background-color: #e3e3e3;
}

.table-item-second {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #484848;
}
.standard {
  background-color: #89c331;
  color: #fff;
}

.ultimate {
  background-color: #f04a56;

  color: #fff;
}
.premium {
  background-color: #20807c;

  color: #fff;
}
.offer {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #fff;
}
.price-span {
  font-weight: 700;
  font-size: 36px;
  line-height: 78%;
  display: inline-block;
}
.price-span::after {
  content: ".99";
  font-size: 20px;
  position: relative;
  bottom: 10px;
}
.table-item-second {
  width: 160px;
}
.standard,
.ultimate,
.premium {
  width: 198px;
}
.second-btn {
  padding: 8px 20px 2px;
}
.second-icon {
  margin: 5px auto;
  display: block;
}
